@media print  { .cssClassTopWrapper, .cssClassAdminControlPanel, .cssClassAdminBreadCrum, .cssClassHeaderRight, .cssClassButtonWrapper, .stickFooterWrapper  { display:none !important;}

.cssClassCommonBox { border:none;}
#divInvoiceForm { width:100%;}
.adminLogo h1 { text-indent:-9999px;}
.cssClassHeader, .cssClassFormWrapper, .cssClassHeaderWrapper { background:#fff; }
.cssClassHeader h2 span, .version { color:#444;}
.cssClassHeaderWrapper { border-bottom:1px solid #444;}
.cssClassGridWrapper table td {border:1px solid #444 !important; color:#333 !important; text-shadow:none !important; }
 }